.header {
  background-image: linear-gradient(
      to top,
      rgba(202, 107, 107, 0.5) 0%,
      rgba(72, 86, 210, 0.338) 74%
    ),
    url("../assets/fondo-header.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
}
