.navbottom{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    border: 1px solid #1A1D58;
    background-color: lavender;
}
 .item:hover{    
    transform: scale(1.5);
    cursor: pointer;    
 }

 .navtop{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
}




