.contenedorPrincipal {
  /* margin-top: 17%; */
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

/* .contenedorSecundario {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

input {
  border-radius: 6px;
  border: solid 0.5 px #1a1d58;
}

.button {
  width: 100%;
  background-color: #1a1d58;
  border-radius: 6px;
  color: white;
}
